{% load static %}
 <!-- Learning Start -->
      <div class="container-fluid project py-5 mb-5">
        <div class="container">
            <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 700px;">
                <h5 id="nav_edu" class="text-primary">Обучение</h5>
                <h1>Курсы повышения квалификации, тернинги, семинары</h1>
            </div>
            <div class="row g-5">
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'img/project-1.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            <div class="project-content">
                                <a href="{% url 'posts:eduweb' %}" class="text-center">
                                    <h4 class="text-secondary">Разработка веб-сайтов</h4>
                                    <p class="m-0 text-white">Создай сайт своими руками за 72 часа</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'img/project-2.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            <div class="project-content">
                                <a href="{% url 'posts:edudb' %}" class="text-center">
                                    <h4 class="text-secondary">Разработка баз данных</h4>
                                    <p class="m-0 text-white">Информационная система на PostgreSQL</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'img/project-3.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            <div class="project-content">
                                <a href="{% url 'posts:edutel' %}" class="text-center">
                                    <h4 class="text-secondary">Программирование на Python</h4>
                                    <p class="m-0 text-white">Python и разработка пиложений для Telegram</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Learning End -->