{% load static %}
        <!-- Spinner Start -->
        <div id="spinner" class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->

        <!-- Topbar Start -->
        <div class="container-fluid px-0 bg-dark py-2 d-none d-md-flex">
            <div class="container">
                <div class="d-flex justify-content-between topbar">
                    <div class="top-info">
                        <small class="me-3 text-white-50"><a href="#"><i class="fas fa-map-marker-alt me-2 text-secondary"></i></a> Севастополь, ул. Университетская, 31</small>
                        <small class="me-3 text-white-50"><a href="#"><i class="fas fa-envelope me-2 text-secondary"></i></a>master-cim@yandex.ru</small>
                    </div>
                   
                    <div class="top-link">
                        <a href="https://t.me/BazaDel" class="bg-light nav-fill btn btn-sm-square rounded-circle me-1"><i class="fab fa-telegram-plane text-primary"></i></a>
                        <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle me-1"><i class="fab fa-whatsapp text-primary"></i></a>
                        <a href="https://github.com/master-cim" class="btn-light nav-fill btn-sm-square rounded-circle me-1"><i class="fab fa-github text-primary"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->

        <!-- Navbar Start -->
        <div class="container-fluid px-0 bg-primary">
            <div class="container">
                <nav class="navbar navbar-dark navbar-expand-lg py-0">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="text-white fw-bold d-block">База<span class="text-secondary">Дел</span> </h1>
                    </a>
                    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse">
                        <div class="navbar-nav ms-auto mx-xl-auto p-0">
                            <a href="{% url 'posts:index' %}" class="nav-item nav-link active text-secondary">Home</a>
                            <a href="{% url 'posts:about' %}" class="nav-item nav-link">О компании</a>
                            <a href="{% url 'posts:service' %}" class="nav-item nav-link">Услуги</a>
                            <a href="project.html" class="nav-item nav-link">Проекты</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Страницы</a>
                                <div class="dropdown-menu rounded">
                                    <a href="blog.html" class="dropdown-item">Блог</a>
                                    <a href="team.html" class="dropdown-item">Команда</a>
                                    <a href="testimonial.html" class="dropdown-item">Отзывы</a>
                                    <a href="404.html" class="dropdown-item">404 Page</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Контакты</a>
                        </div>
                    </div>
                    <div class="d-none d-xl-flex flex-shirink-0">
                        <div id="phone-tada" class="d-flex align-items-center justify-content-center me-4">
                            <a href="" class="position-relative animated tada infinite">
                                <i class="fa fa-phone-alt text-white fa-2x"></i>
                                <div class="position-absolute" style="top: -7px; left: 20px;">
                                    <span><i class="fa fa-comment-dots text-secondary"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="d-flex flex-column pe-4 border-end">
                            <span class="text-white-50">У вас есть вопросы?</span>
                            <span class="text-secondary">Звоните: + 7 978 572 93 71</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center ms-4 ">
                            <a href="#"><i class="bi bi-search text-white fa-2x"></i> </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->
