<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/factstart.html' %}

        <!-- Page Header Start -->
    <div class="container-fluid px-0 py-2">
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'posts:index' %}" >Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'posts:learning' %}" >Обучение</a></li>
                <li class="breadcrumb-item" aria-current="page">Разработка веб-сайтов</li>
            </ol>
            
        </nav>
        
    </div>
    <!-- Page Header End -->

        <!-- WebSite Start -->
        <div class="container-fluid py-5 my-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="{% static 'img/edudb-1.jpg' %}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="{% static 'img/edudb-2.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                     </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                        <h5 class="text-primary">
                            Захватите контроль над данными и создайте свою собственную базу данных с нашим курсом повышения квалификации
                        </h5>
                        <a href="{% url 'posts:index' %}#nav_order" class="ms-2"><button type="button" class="px-0 py-sm-3 px-sm-5 btn btn-primary rounded-pill">Зарегистрироваться на курс</button></a>
                        <h1 class="mb-4">
                            Информационная система на PostgreSQL!
                        </h1>
                        <p> Знание баз данных является одним из самых востребованных навыков в современном мире информационных технологий. Специалисты по базам данных могут найти работу в различных отраслях, включая IT, финансы, здравоохранение, телекоммуникации и многое другое.</p>
                            <p>    Базы данных предоставляют огромное количество информации, которую можно использовать для анализа и принятия важных бизнес-решений. </p>
                            <p>    Знание баз данных позволит Вам разрабатывать и поддерживать сложные информационные системы, работать с SQL-запросами и создавать эффективные архитектуры данных.</p>
                        <p class="mb-4">
                            Что Вы получите, пройдя наш курс:
                        </p>
                        <ul>
                            <li>Глубокое понимание PostgreSQL: Мы научим вас основам работы с PostgreSQL, начиная от установки и настройки до продвинутых техник и оптимизации баз данных.</li>
                            <li>Создание информационной системы: Вы научитесь проектировать и разрабатывать информационную систему, используя PostgreSQL в качестве базы данных. Мы покажем Вам лучшие практики и инструменты для создания надежных и эффективных систем.</li>
                            <li>Работа с расширениями и интеграциями: Вы узнаете, как использовать расширения PostgreSQL, такие как PostGIS для геоданных, а также как интегрировать PostgreSQL с другими популярными инструментами и языками программирования.</li>
                            <li>Практические проекты: Наш курс предлагает множество практических заданий и проектов, чтобы Вы могли немедленно применить полученные знания на практике. Вы будете создавать реальные информационные системы и улучшать их с помощью PostgreSQL.</li>
                            <li>Выборка данных: Секреты написания оптимальных запросов к базе данных на языке SQL.</li>
                        </ul>
                        <p class="mb-4">
                            Наш курс подходит как для начинающих, так и для опытных специалистов, которые хотят обновить свои знания и навыки в области баз данных. Мы предлагаем гибкий график обучения, чтобы Вы могли учиться в удобное для Вас время.
                        </p>
                        <p class="mb-4">
                            Получите сертификат о прохождении курса и добавьте ценный актив к своему портфолио. Не упустите возможность стать востребованным специалистом в сфере баз данных!
                        </p>
                    <h5 class="text-primary">
                         Регистрируйтесь на наш курс прямо сейчас, и вместе мы создадим мощную информационную систему на PostgreSQL!
                    </h5>
                    <div class="border-top mt-4 pt-3">
                        <p class="mb-0">Учебно-тематический план программы повышения квалификации
                             <a href="{% static 'doc/curriculum_db_2023.pdf' %}" class="text-primary">«Информационная система на PostgreSQL»</a>
                        </p>
                      </div>
                      <div class="border-top mt-4 pt-3">
                        <p class="mb-0">Пример удостоверения программы повышения квалификации, которыое Вы получите по окончанию нашего курса
                            <div class="h-100 position-relative">
                                <img src="{% static 'img/dpo.jpg' %}" class="img-fluid w-50" alt="">
                            </div>
                        </p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- WebSite End -->
{% include 'includes/form_order.html' %}

{% endblock %} 