<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/factstart.html' %}

        <!-- Page Header Start -->
        <div class="container-fluid px-0 py-2">
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'posts:index' %}" >Home</a></li>
                    <li class="breadcrumb-item" aria-current="page">Обучение</li>
                </ol>
            </nav>
    </div>
    <!-- Page Header End -->

        <!-- Learning Start -->
        <div class="container-fluid py-5 my-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="{% static 'img/edu1.jpg' %}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="{% static 'img/edu2.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                        <h5 class="text-primary">Курсы повышения квалификации, тернинги, семинары</h5>
                        <h1 class="mb-4">Не упускайте возможность стать экспертом в сфере информационных технологий.</h1>
                        <p> Стремитесь к профессиональному росту в сфере информационных технологий? Ищете идеальный способ повысить свою квалификацию и овладеть новыми навыками? Представляем Вам наши эксклюзивные ИТ курсы повышения квалификации, тренинги и семинары!</p>
                        <p class="mb-4">У нас Вы найдете широкий спектр обучающих программ, разработанных опытными профессионалами в сфере ИТ. Независимо от Вашего уровня знаний и опыта работы, мы поможем Вам раскрыть Ваш потенциал и достичь новых высот в карьере.</p>
                        <p class="mb-4">Наши курсы предлагают самые современные технологии и методики обучения, чтобы Вы могли максимально эффективно освоить новые навыки. Наши опытные преподаватели будут руководить Вами на каждом этапе обучения, обеспечивая Вам не только теоретические знания, но и практические навыки, необходимые для успешной работы в сфере ИТ.</p>
                        <p class="mb-4">Мы гордимся нашими результатами и успехами наших студентов. Многие из них уже нашли работу своей мечты или получили повышение в своей текущей компании благодаря нашим курсам. Присоединяйтесь к нашему сообществу успешных ИТ специалистов!</p>
                        <p class="mb-4">Не упускайте возможность стать экспертом в сфере информационных технологий. Запишитесь на наши ИТ курсы повышения квалификации, тренинги и семинары прямо сейчас и откройте новые горизонты возможностей для Вашей карьеры!" </p>
                        <a href="" class="btn btn-secondary rounded-pill px-5 py-3 text-white">Читать далее</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Learning End -->

{% endblock %} 