<!DOCTYPE html> 
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/factstart.html' %}

        <!-- Page Header Start -->
        <div class="container-fluid px-0 py-2">
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Наши предложения</a></li>
                    <li class="breadcrumb-item" aria-current="page">Сервисы</li>
                </ol>
            </nav>
    </div>
    <!-- Page Header End -->
{% include 'includes/services.html' %}

{% endblock %} 